
/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / Navigation
3. Forms
4. Elements
5. Extra
-------------------------------------------------------------------*/


/* [1. BODY] */

body {
  background-color: #fff;
  font-family: Open Sans, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: #bababa;
  font-size: 12px;
  line-height: 1.9em;
}

a {
  width: 100%;
  color: #333;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.navbar {
  position: fixed;
  z-index: 5;
  height: 53px;
  padding-top: 5px;
  background-color: #030f48;
  color: #fff;
}

.navbar.transparent {
  background-color: transparent;
}

.mobile-wrapper {
  position: relative;
  width: 100%;
  height: 635px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: none;
}


/* [2. HEADER] */

.navbar-button {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 0px;
  color: #fff;
  line-height: 49px;
  text-align: center;
}

.navbar-button.left {
  float: left;
}

.navbar-button.left.w--open {
  background-color: transparent;
}

.navbar-button.right {
  float: right;
}

.navbar-button.right:active {
  color: #333;
}

.navbar-button.right.w--open {
  z-index: 1;
  width: 100%;
  opacity: 0;
}

.navbar-button.right.bigger {
  font-size: 16px;
}

.icon.ion-ios-plus-empty {
  -webkit-perspective: 162px;
  perspective: 162px;
}

.icon.ion-ios-location {
  color: #1775ff;
}

.icon.ion-ios-more.bigger {
  font-size: 21px;
}

.icon.ion-ios-arrow-left.bigger {
  font-size: 21px;
}

.navbar-button-icon {
  width: 45px;
  height: 45px;
  font-size: 40px;
}

.navbar-button-icon.home-icon {
  display: inline-block;
  width: 27px;
  height: auto;
  margin-top: 14px;
  margin-left: 5px;
}

.navbar-button-icon.smaller {
  font-size: 28px;
}

.navbar-button-icon.ion-ios-search {
  font-size: 27px;
}

.navbar-title {
  position: absolute;
  display: block;
  width: 100%;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.body {
  padding-top: 53px;
}

.hero-slider {
  height: 190px;
}

.hero-slider.bigger {
  height: 300px;
}

.slider-bullets {
  font-size: 8px;
}

.arrow-icon {
  width: 53px;
  font-size: 20px;
  text-shadow: none;
}

.slide {
  overflow: hidden;
  background-image: url('http://placehold.it/350x350');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide.bg2 {
  background-image: url('http://placehold.it/350x350');
  background-size: cover;
}

.slide.bg3 {
  background-image: url('http://placehold.it/350x350');
  background-size: cover;
}

.list {
  padding-left: 0px;
  background-color: #fff;
  list-style-type: none;
}

.list.list-messages {
  border-top: 1px solid #e7e7e9;
}

.list.list-chats {
  padding-top: 24px;
  padding-bottom: 65px;
  border-top: 1px solid #e7e7e9;
}

.list-item {
  overflow: hidden;
  height: 60px;
  border-bottom: 1px solid #e7e7e9;
  border-left: 3px solid transparent;
  background-color: #fff;
}

.list-item:active {
  background-color: #f7f7f7;
}

.list-item.grey {
  border-left: 3px solid transparent;
  background-color: #f7f7f7;
}

.list-item.highlighted {
  border-left: 3px solid #1775ff;
}

.icon-list {
  display: inline-block;
  width: 50px;
  height: 50px;
  float: left;
  color: #ddd;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.icon-list.highlighted {
  color: #1775ff;
}

.title-list {
  margin-top:10px;
  display: inline-block;
  float: left;
  font-size: 14px;


  
}

.highlighted {
  color: #c2c2c2;
}

.nav-menu {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  min-height: 500px;
  background-color: #fff;
}

.nav-menu.bg-gradient {
  background-color: #041052;
  background-image: -webkit-linear-gradient(332deg, #041052, #114d9c 87%);
  background-image: linear-gradient(118deg, #041052, #115e8b  87%);
}

.nav-menu.bg-gradient.visible {
  display: block;
  overflow: scroll;
  height: 550px;
  background-image: none;
}

.nav-menu-header {
  height: 137px;
  padding-top: 50px;
}

.nav-menu-link {
  display: block;
  padding: 0px 22px;
  box-shadow: inset 0 -8px 11px -5px rgba(0, 0, 0, .06);
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.nav-menu-link:active {
  color: #fff;
}

.nav-menu-link.last {
  border-bottom-style: none;
  border-bottom-width: 0px;
}

.nav-menu-link.dropdown {
  height: auto;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.nav-menu-link.btn-close-button {
  background-color: rgba(0, 0, 0, .13);
}

.nav-menu-titles {
  display: inline-block;
  float: left;
  line-height: 58px;
  text-align: left;
}

.icon-list-menu {
  display: inline-block;
  width: 40px;
  height: 50px;
  float: left;
  color: hsla(0, 0%, 100%, .28);
  font-size: 24px;
  line-height: 60px;
  text-align: left;
}

.nav-menu-text-right {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 18px;
  float: right;
  border-radius: 12px;
  background-color: #fff;
  color: #1775ff;
  font-size: 11px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.logo {
  padding-top: 20px;
  padding-bottom: 8px;
  padding-left: 38px;
  font-size: 20px;
  text-align: left;
}

.slogan {
  color: #c2c2c2;
  font-size: 11px;
  text-align: left;
}

.wrapper-mask {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -15px;
  background-color: #000;
  opacity: 0;
}

.hero-image {
  position: relative;
  overflow: hidden;
  height: 173px;
  background-color: #000;
}

.hero-image-img {
  height: 100%;
  opacity: 0.62;
}

.hero-image-title {
  position: absolute;
  left: 50px;
  bottom: 30px;
  z-index: 1;
  color: #fff;
}


/* [3. FORMS] */

.logo-login {
  height: 211px;
  background-image: url('../images/logo.png');
  background-position: 50% 50%;
  background-size: 130px;
  background-repeat: no-repeat;
}

.logo-loginnobu {
  height: 100px;
  background-image: url('../images/wallet/nobu4.png');
  background-position: 30% 30%;
  background-size: 60px;
  background-repeat: no-repeat;
}

.logo-login.smaller {
  height: 97px;
  background-size: 100px;
}

.logo-login.bigger {
  height: 304px;
}

.bottom-section {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 5px;
}

.padding {
  padding-right: 28px;
  padding-left: 28px;
  background-color: transparent;
  opacity: 1;
}

.padding.smaller {
  padding-right: 16px;
  padding-left: 16px;
}

.padding.smaller.search-fixed {
  position: fixed;
  z-index: 3;
  height: 130px;
  -webkit-transform: translate(0px, -69px);
  -ms-transform: translate(0px, -69px);
  transform: translate(0px, -69px);
}

.link-upper {
  display: inline-block;
  color: hsla(0, 0%, 100%, .4);
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}

.link-upper.dark {
  color: #c2c2c2;
}

.b-link {
  color: #fff;
  font-weight: 400;
}

.b-link:active {
  color: #4fd2c2;
}

.action-button {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 7px;
  border-radius: 50px;
  background-color: #030f48;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 3px;
}

.action-button:hover {
  background-color: #237cfd;
}

.action-button:active {
  background-color: #237cfd;
}

.action-button.grey {
  background-color: #102a3b;
}

.separator-button {
  height: 21px;
}

.label-form {
  margin-top: 0px;
  color: #6f6f6f;
  font-size: 12.5px;
  line-height: 11px;
}

.label_form_margin_7 {
  margin-top: 47px;
  color: #6f6f6f;
  font-size: 12.5px;
  line-height: 11px;
}

.label-form.middle {
  display: inline-block;
  float: left;
  line-height: 36px;
}

.label-form.light {
  color: hsla(0, 0%, 100%, .28);
}

.input-form {
  display: inline-block;
  width: 100%;
  height: 25px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-radius: 0px;
  background-color: transparent;
  color: #222;
  font-size: 15px;
  font-weight: bold;
}

.input-form:focus {
  border-bottom-width: 1px;
  border-bottom-color: #1775ff;
}

.input-form.left {
  width: 100%;
  color: #9e9696;
}

.input-form.one-line {
  height: 55px;
  margin-bottom: 3px;
}

.input-form.last {
  border-bottom-style: none;
  border-bottom-width: 0px;
}

.input-form.in-grey {
  height: 42px;
  padding-bottom: 12px;
}

.input-form.in-grey-last {
  margin-bottom: 15px;
  border-bottom-style: none;
  border-bottom-width: 0px;
}

.input-form.search-input {
  height: 38px;
  margin-bottom: 15px;
  padding-right: 35px;
  padding-left: 10px;
  background-color: #fff;
}

.input-form.light {
  height: 50px;
  padding-left: 30px;
  border-bottom-width: 0px;
  border-radius: 20px;
  background-color: hsla(0, 0%, 95%, .1);
  color: #fff;
}

.input-form.textarea {
  height: 80px;
}

.input-form.select {
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
}

.separator-button-input {
  height: 30px;
}

.separator-fields {
  height: 8px;
}

.right-input-link {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 20%;
  height: 50px;
  padding-right: 30px;
  color: hsla(0, 0%, 100%, .83);
  font-size: 11px;
  line-height: 50px;
  text-align: right;
  text-decoration: none;
}

.right-input-link:active {
  color: #333;
}

.block-input-combined {
  position: relative;
}

.sub-title-small {
  padding-top: 6px;
  color: #afafaf;
  font-size: 11px;
}

.w50 {
  width: 50%;
  float: left;
}

.w50.left {
  padding-right: 20px;
}

.radio-button {
  position: relative;
  display: inline-block;
  margin-left: 31px;
  float: right;
}

.radios-container {
  padding-top: 9px;
  line-height: 21px;
}

.radio-bullet {
  margin-left: -23px;
  opacity: 0;
}

.radio-bullet-replacement {
  position: absolute;
  left: -4px;
  top: 4px;
  width: 13px;
  height: 13px;
  border: 1px solid #c2c2c2;
  border-radius: 20px;
}

.radio-bullet-replacement.checked {
  border-color: #1775ff;
  border-bottom-width: 1px;
  background-color: #1775ff;
}

.checkbox-field {
  position: relative;
  float: right;
}

.checkbox-label {
  display: inline-block;
  width: 35px;
  height: 15px;
  min-width: 30px;
  margin-top: 3px;
  border-radius: 15px;
  background-color: #ededed;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.checkbox-label.checked {
  background-color: #aacaf8;
}

.checkbox-handle {
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 20px;
  background-color: #d6d6d6;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.checkbox-handle.checked {
  background-color: #1775ff;
  opacity: 1;
  -webkit-transform: translate(16px, 0px);
  -ms-transform: translate(16px, 0px);
  transform: translate(16px, 0px);
}

.checkbox-input {
  display: none;
}


/* [4. ELEMENTS] */

.background-grey {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 79px;
  margin-top: -16px;
  margin-left: -28px;
  background-color: #f7f7f7;
}

.background-grey.last {
  height: 71px;
}

.background-grey.search {
  height: 69px;
  margin-left: -16px;
}

.row-input-list {
  position: relative;
}

.row-input-list.search {
  margin-top: 0px;
}

.right-input-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 37px;
  height: 37px;
  color: #dbdbdb;
  font-size: 18px;
  line-height: 36px;
  text-align: right;
}

.right-input-icon.color {
  margin-right: 0px;
  color: #ff4c2a;
  text-align: center;
}

.right-input-icon.search {
  margin-right: 0px;
  padding-top: 2px;
  padding-right: 3px;
  text-align: center;
}

.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-content.loading-mask {
  position: fixed;
  z-index: 50;
  display: none;
  background-color: #000;
  opacity: 0.6;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  text-align: center;
}

.page-content.loading-mask.stop-loading {
  opacity: 0;
}

.page-content.bg-gradient {
  background-color: #1775ff;
  background-image: -webkit-linear-gradient(332deg, #1775ff, #31dbd2 98%);
  background-image: linear-gradient(180deg, #110550, #2baffd 80%);
}

.loading-icon {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  bottom: 50%;
  display: block;
  width: 44px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
}

.loading-icon.splash {
  top: 70%;
  width: 30px;
  color: hsla(0, 0%, 100%, .17);
  font-size: 36px;
}

.text-centered {
  text-align: center;
}

.version-text {
  padding-bottom: 40px;
  color: #a1a1a1;
  font-size: 11px;
}

.separator-bottom {
  height: 20px;
}

.splash-logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../images/logo.png');
  background-position: 50% 38%;
  background-size: 121px;
  background-repeat: no-repeat;
}

.separator-big {
  height: 95px;
}

.toolbar-top-button {
  display: inline-block;
  width: 50%;
  padding-top: 22px;
  padding-bottom: 9px;
  float: left;
  border-bottom: 3px solid #fff;
  background-color: #fff;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}

.toolbar-top-button.w--current {
  border-bottom-width: 3px;
  border-bottom-color: #31dbd2;
  background-color: #fff;
}

.tabs-content {
  background-color: #f5f5f5;
}

.group-block {
  width: 50%;
  padding-top: 10px;
  padding-right: 4px;
  float: left;
}

.group-block.last {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 6px;
}

.group-image {
  height: 164px;
  background-image: url('http://placehold.it/350x350');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.group-image.bg1 {
  background-image: url('http://placehold.it/350x350');
  background-size: cover;
}

.group-image.bg2 {
  background-image: url('http://placehold.it/350x350');
  background-position: 0px 50%;
  background-size: cover;
}

.group-image.bg3 {
  background-image: url('http://placehold.it/350x350');
  background-size: cover;
}

.group-image.bg4 {
  background-image: url('http://placehold.it/350x350');
  background-position: 0px 50%;
  background-size: cover;
}

.group-image.bg5 {
  background-image: url('http://placehold.it/350x350');
  background-size: cover;
}

.group-title {
  height: 68px;
  background-color: #fff;
  text-align: center;
}

.title-text {
  line-height: 68px;
}

.tab-pane {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.list-news {
  display: inline-block;
  padding-left: 0px;
  list-style-type: none;
}

.list-item-new {
  margin-bottom: 25px;
  box-shadow: 0 0 6px 0 #e3e3e3;
}

.image-new {
  position: relative;
  height: 200px;
  background-image: url('http://placehold.it/350x350');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-new.bg1 {
  background-image: url('http://placehold.it/350x350');
  background-size: cover;
}

.image-new.bg2 {
  background-image: url('http://placehold.it/350x350');
  background-size: cover;
}

.text-new {
  padding: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.text-new.no-borders {
  border-style: none;
  border-width: 0px;
}

.text-new.grey {
  border-style: solid none;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  background-color: #fafafa;
}

.text-new.n-b-b {
  border-bottom: 1px none #000;
}

.title-new {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
}

.description-new {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 11px;
}

.description-new.larger {
  font-size: 13px;
}

.news-container {
  position: relative;
  display: inline-block;
  margin-top: 77px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #fff;
}

.news-container.item-new {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.news-container.home {
  margin-top: 0px;
}

.category-link {
  display: inline-block;
  width: auto;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: #ededed;
  color: #878787;
  font-size: 8px;
  line-height: 21px;
  text-decoration: none;
}

.news-mask {
  position: fixed;
  z-index: 2;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, .61);
  opacity: 0;
}

.options-new {
  padding: 5px 15px 5px 15px;
}

.options-new.tighter {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  padding: 10px 0px 5px 10px;
  float: left;
}

.small-button {
  width: auto;
  margin-right: 12px;
  padding: 3px 13px 4px 13px;
  border-radius: 50px;
  background-color: #1775ff;
  color: #fff;
  font-size: 10px;
  text-decoration: none;
}

.small-button.icon-only {
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
}

.small-button.icon-only.grey {
  background-color: #e8e8e8;
  color: #878787;
}

.small-button.icon-only.grey.right {
  margin-right: 0px;
  margin-left: 13px;
  float: right;
}

.small-button.icon-only.grey.p-r {
  margin-right: 5px;
}

.small-button.icon-only.grey.p-r.selected2 {
  background-color: #fafafa;
}

.small-button.icon-only.grey.p-r.selected {
  background-color: transparent;
}

.small-button.icon-only.grey.selected {
  background-color: transparent;
}

.small-button.icon-only.social-squared.facebook {
  background-color: #3b5998;
}

.small-button.icon-only.social-squared.twitter {
  background-color: #4099ff;
}

.small-button.icon-only.social-squared.pinterest {
  background-color: #c92228;
}

.small-button.icon-only.social-squared.dribbble {
  background-color: #ea4c89;
}

.small-button.icon-only.social-squared.mail {
  background-color: #1f81c2;
}

.small-button.grey {
  background-color: #1775ff;
  color: #fff;
  padding-right: 35px;
  padding-left: 35px;
}

.small-button.grey.right {
  float: right;
}

.small-button.grey.last {
  margin-right: 0px;
}

.small-button.social {
  margin-right: 7px;
  margin-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  float: left;
}

.small-button.social.facebook {
  background-color: #3b5998;
}

.small-button.social.twitter {
  background-color: #4099ff;
}

.icon-button {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 15px;
  padding-bottom: 20px;
  float: left;
  font-size: 13px;
}

.icon-button.bigger {
  font-size: 20px;
}

.text-button {
  display: inline-block;
  padding-top: 1px;
  float: left;
  line-height: 19px;
}

.grey-header {
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fafafa;
}

.grey-heading-title {
  font-size: 16px;
}

.square-map {
  height: 300px;
}

.hero-map {
  height: 280px;
}

.image-message {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 35px;
  height: 35px;
  margin-top: 7px;
  border-radius: 25px;
}

.column-left {
  position: relative;
  display: block;
  width: 77px;
  height: 62px;
  float: left;
  text-align: center;
}

.message-title {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 14px;
}

.list-message {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e9;
}

.list-message:active {
  background-color: #f7f7f7;
}

.column-right {
  padding-right: 20px;
}

.column-right.chat {
  overflow: hidden;
  margin-right: 50px;
}

.column-right.chat.right {
  position: relative;
  margin-right: 10px;
  margin-left: 100px;
  padding-left: 20px;
}

.message-header {
  display: block;
  padding-bottom: 3px;
  color: #a3a3a3;
  font-size: 13px;
  line-height: 1.6em;
  text-decoration: none;
  font-weight: bold;
}

.message-text {
  display: block;
  padding-bottom: 3px;
  color: #a3a3a3;
  font-size: 12px;
  line-height: 1.6em;
  text-decoration: none;
}

.list-chat {
  margin-bottom: 8px;
}

.chat-text {
  display: inline-block;
  margin-top: 7px;
  padding: 12px 15px;
  float: left;
  border-radius: 0px 12px 12px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 12px;
  line-height: 17px;
}

.chat-text.right {
  float: right;
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
  background-color: #1775ff;
  color: #fff;
}

.arrow-globe {
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: 7px;
  margin-left: -12px;
  border-right: 12px solid #f0f0f0;
  border-bottom: 6px solid transparent;
}

.arrow-globe.right {
  top: 0px;
  right: 9px;
  border-right: 0px none transparent;
  border-left: 11px solid #1775ff;
}

.chat-time {
  display: block;
  padding-left: 12px;
  float: left;
  clear: left;
  color: #cfcfcf;
  font-size: 9px;
  line-height: 19px;
}

.chat-time.right {
  padding-right: 15px;
  float: right;
  clear: both;
}

.input-chat-block {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid #ebebeb;
  background-color: #030f48;
  color :#fff;
}

.input-chat {
  width: 82%;
  height: 39px;
  float: left;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #e3e3e3;
  border-radius: 0px;
  font-size: 11px;
}

.input-chat:focus {
  border-bottom-color: #1775ff;
}

.chat-button {
  width: 18%;
  padding: 9px 0px;
  float: right;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #1775ff;
  color: #fff;
  font-size: 12px;
}

.slider-element-test {
  padding-top: 90px;
  color: #fff;
  font-size: 19px;
  line-height: 1.6em;
  text-align: center;
}

.social-block {
  display: inline-block;
  float: left;
}

.bar-home-icon {
  width: 100%;
  height: 1px;
  margin-bottom: 7px;
  background-color: #fff;
}

.bar-home-icon.top {
  width: 80%;
}

.bar-home-icon.middle {
  width: 60%;
}

.bar-home-icon.bottom {
  width: 40%;
}

.shadow-layer {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, .35);
}

.shadow-layer.white {
  background-color: #fff;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.stop-loading22 {
  opacity: 0;
}

.todelete {
  position: absolute;
  display: none;
  width: 287px;
  height: 52px;
  background-color: #000;
}

.todelete.top {
  left: 104px;
  top: -207px;
  width: 145px;
  height: 156px;
}

.light {
  color: #fff;
}

.light-semitransparent {
  color: hsla(0, 0%, 100%, .56);
}

.bg-gradient {
  background-color: #ff4c2a;
  background-image: -webkit-linear-gradient(107deg, #ff4c2a, #ff7d01);
  background-image: linear-gradient(343deg, #ff4c2a, #ff7d01);
}

.list-calendar-events {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e9;
}

.calendar-col-left {
  width: 100%;
  float: left;
}

.calendar-col-right {
  position: absolute;
  display: inline-block;
  width: 32px;
  margin-left: -32px;
  float: left;
}

.image-calendar-event {
  overflow: hidden;
  width: 28px;
  height: 28px;
  margin-top: 4px;
  float: right;
  border-radius: 16px;
}

.calendar {
  padding: 0px;
  background-color: #fff;
}

.calendar-days {
  padding-right: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.calendar-cell-day {
  width: 14.28%;
  height: 50px;
  float: left;
  text-align: center;
}

.text-calendar-event {
  color: #333;
  line-height: 48px;
}

.text-calendar-event:hover {
  border-radius: 25px;
  background-color: #1775ff;
  color: #fff;
}

.text-calendar-event:active {
  background-color: #31dbd2;
}

.text-calendar-event.header {
  background-color: #0f6df7;
  color: hsla(0, 0%, 100%, .6);
  font-size: 12px;
}

.text-calendar-event.semitrans {
  background-color: hsla(0, 0%, 100%, .04);
  color: hsla(0, 0%, 100%, .15);
}

.text-calendar-event.semitrans:hover {
  color: hsla(0, 0%, 100%, .5);
}

.calendar-body {
  padding: 0px 10px;
}

.event-bullet {
  display: block;
  width: 5px;
  height: 5px;
  margin-top: -12px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background-color: #31dbd2;
}

.left-text-icon {
  display: inline-block;
  width: 22px;
  height: 20px;
  float: left;
  color: #a3a3a3;
  font-size: 18px;
}

.event-title {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 10px;
}

.event-text {
  display: inline-block;
  margin-right: 20px;
  float: left;
  color: #a3a3a3;
  font-size: 12px;
  line-height: 1.6em;
}

.portfolio-item {
  width: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
  float: left;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.portfolio-item-center {
  width: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
  float: center;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.portfolio-gallery {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.portfolio-gallery.inline {
  padding-right: 10px;
  padding-left: 20px;
}

.portfolio-image {
  width: 100%;
  padding-top: 100%;
  background-image: url('../images/camera-icon.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-image.bg1 {
  background-image: url('../images/camera-icon.png');
  background-position: 0px 0px;
  background-size: cover;
}

.portfolio-image.bg2 {
  background-image: url('../images/camera-icon.png');
  background-position: 0px 50%;
  background-size: cover;
}

.portfolio-image.bg3 {
  background-image: url('../images/camera-icon.png');
  background-position: 0px 0px;
  background-size: cover;
}

.portfolio-image.bg4 {
  background-image: url('http://placehold.it/350x350');
  background-position: 0px 0px;
  background-size: cover;
}

.portfolio-image.bg5 {
  background-image: url('http://placehold.it/350x350');
  background-position: 0px 0px;
  background-size: cover;
}

.icon-grid-cols {
  margin-top: 4px;
  margin-left: 2px;
}

.icon-grid-cols.p-l {
  margin-left: 4px;
}

.icon-grid-item {
  width: 3px;
  height: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
  float: left;
  background-color: #333;
}

.icon-grid-item.last {
  margin-right: 0px;
}

.icon-grid-item._2-cols {
  width: 6px;
  height: 5px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.icon-grid-item._1-col {
  width: 15px;
  height: 2px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.grid-1-column {
  width: 100%;
}

.grid-2-columns {
  width: 50%;
}

.grid-3-columns {
  width: 33.333%;
}

.home-content {
  background-color: #fff;
}

.title-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}

.news-slider {
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  background-color: transparent;
}

.news-slider.grey {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fafafa;
}

.news-slide {
  height: 100%;
}

.news-arrows {
  margin-top: 90px;
  font-size: 25px;
}

.news-arrows.left {
  margin-left: 35px;
}

.news-arrows.right {
  margin-right: 35px;
}

.news-slidenav {
  top: 169px;
  bottom: auto;
  font-size: 6px;
}

.portfolio-image-hidden {
  display: none;
  background-image: url('http://placehold.it/350x350');
  background-position: 0px 0px;
}

.portfolio-video-icon {
  position: absolute;
  display: inline-block;
}

.link-blog-list {
  display: block;
}

.footer-copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}

.social-media-centered {
  text-align: center;
}

.drop-down-list {
  position: relative;
  display: none;
  background-color: rgba(0, 0, 0, .11);
}

.dropdown-icon {
  margin-right: 26px;
}

.calendar-month-year {
  background-color: #0f6df7;
}

.calendar-month-year-text {
  padding-top: 10px;
  color: hsla(0, 0%, 100%, .7);
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.calendar-month-text {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.calendar-header-days {
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #0f6df7;
  list-style-type: none;
}

.profile-avatar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #041052;
  text-align: center;
}

.profile-avatar-image {
  border-radius: 50px;
}

.profile-avatar-name {
  padding-bottom: 5px;
  color: #fff;
  font-size: 19px;
  text-align: center;
}

.profile-avatar-name-container {
  background-color: #041052;
}

.profile-figures {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:10px;
  
  border-bottom: 1px solid #e7e7e9;
}

.profile-avatar-job {
  padding-bottom: 30px;
  opacity: 0.63;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.profile-figures-number {
  padding-top: 20px;
  color: #0f6df7;
  font-size: 18px;
  text-align: center;
}

.profile-figures-title {
  padding-top: 5px;
  padding-bottom: 18px;
  text-align: center;
}

.profile-list-bookmark {
  border-bottom: 1px solid #e7e7e9;
}

.profile-list-text {
  width: 75%;
  padding: 5px 15px;
  float: left;
}

.profile-list-image {
  width: 25%;
  height: 83px;
  float: left;
}

.profile-list-image.bg-1 {
  background-image: url('../images/store-icon.png');
  background-position: 50% 50%;
  background-size: cover;
  
}

.profile-list-image.bg-2 {
  background-image: url('http://placehold.it/350x350');
  background-position: 0px 0px;
  background-size: cover;
}

.profile-list-image.bg-3 {
  background-image: url('http://placehold.it/350x350');
  background-position: 0px 0px;
  background-size: cover;
}

.profile-list-image.bg-4 {
  background-image: url('http://placehold.it/350x350');
  background-position: 0px 0px;
  background-size: cover;
}

.profile-list-link {
  display: block;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

html.w-mod-js *[data-ix="menu-mask"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="list-item"] {
  opacity: 0;
  -webkit-transform: translate(-26px, 0px);
  -ms-transform: translate(-26px, 0px);
  transform: translate(-26px, 0px);
}

@media (max-width: 479px) {
  .mobile-wrapper {
    width: 100%;
  }
}


/* [5. EXTRA] */

.navbar{
    width:inherit;
}
.radio-bullet-replacement, .checkbox-handle, .loading-mask, .shadow-layer{
    pointer-events:none;
}
input[type=text], textarea {
    outline: none;
}
input[type=text]:focus, textarea:focus {
    outline: none;
}
*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*:not(input):not(textarea){
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.loading-icon {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.loading-mask{
    display:block !important;
}
.w-input.light::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
}
.w-input.light:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    opacity: 1;
}
.w-input.light::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}
.w-input.light:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
}
.navbar, .page-content, .news-mask, .search-fixed, .input-chat-block, .loading-mask, .shadow-layer{
    width:inherit;
}
.nav-menu{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.w-nav-overlay{
  top:0;
}

.bottom-menu-list {
  
}

.bottom-menu-list-active {
  background: rgba(0, 142, 223, 0.3); border-radius: 75px;  

}

/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 103, 223, 0.8);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.history_detail {
	margin-left: 20px;
}





