.input_digit {
	font-size: 1.35em;
}
.label_digit {
	font-size: 1.1em;
}
.history_li {
	padding-bottom: -15px;
}
.history_title {
	font-weight: bold;
}
.history_content {
	font-size: 0.9em;
	font-weight: bold;
	color: black;
}
.float_left {
	float: left;
	margin-left: 20px;
}
.float_right {
	float: right;
	margin-right: 20px;
}
.logo_digit {
	color:white;
	padding-bottom:5px;
	font-size: 16px;
	font-weight: bold;
}
.home_font {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
.header_font {
	text-transform: initial;
	font-size: 13px;
	vertical-align: middle;
	margin-top: 3px;
}
.main_menu {
	font-size: 15px;
	font-weight: bold;
}
.bullet_text {
	-webkit-text-security: disc;
	-moz-text-security: disc;
	-o-text-security: disc;
}
.italic {
	font-style: italic;
}
.support_field img {
	display: block;
    margin: auto;
}
.support_field label {
	margin-top: 0px;
	font-size: 9px;
	text-align: center;
	font-style: italic;
	color: white;
}
.support_field p {
	margin-top: 10px;
	color: white;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}
.inline {
	padding-left: 5px;
	margin: 0 auto;
	padding-right: 5px;
}

.bg_solid {
	background-color: #030f48;
}

.data-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 115, 115, 115, .8 )
                url('../images/wallet/ajax-loader-waiting.gif') 
                50% 50% 
                no-repeat;
}
body.loading {
    overflow: hidden;   
}
body.loading .data-loader {
    display: block;
}
.separator_field {
	padding-top: 10px;
}

input,
input::-webkit-input-placeholder {
    font-size: 13px;
}
input::-moz-input-placeholder {
    font-size: 13px;
}
input::-ms-input-input-placeholder {
    font-size: 13px;
}
.mandatory {
	color: red;
}
.text-uppercase {
	text-transform:uppercase;
}
.text-lowercase {
	text-transform:lowercase;
}
.invalidinput {
	background-color: #e74c3c;
}
.disabled_menu {
	cursor: default;
}
.hide_payment_req {
	display: none;
}
.align_center {
	height: 100%;
    width: 100%;
}
